{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col selectBtn">
            <button class="btn btn-light">Réserver une coiffure</button>
        </div>
        <div class="col selectBtn">
            <button class="btn btn-light">Je suis coiffeur</button>
        </div>
    </div>
    
    <div style="height:500px;width:500px">
        <div id="map" style="height: 500;"></div>
    </div>
    
{% endblock %}