{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    <title>Bienvenue</title>
{% endblock %}

{% block content %}
    <p>Pour les particuliers :</p>
    <button id="btn">Réserver une séance</button>
    <p>Pour les professionnels :</p>
    <button id="btn">Je suis coiffeur</button>    
{% endblock %}