*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'UberMoveMedium';
    src: url('../fonts/UberMoveMedium.otf') format('truetype');
}

body{
    font-family: 'UberMoveMedium', sans-serif;
    background-color: #1f1f1f;
    color: white;
}

footer{
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.selectBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

#map { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 20px;
}

.box {
    height: auto;
    padding: 50px;
}
.row {
    display: flex;
    flex-wrap:wrap;
}
.cell {
    flex: 1 1 200px;
    height: 500px;
}