{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <h1>Politique de confidentialité</h1>
    <p>
        Chez Uber Cut, nous accordons une grande importance à la confidentialité et à la sécurité de vos informations personnelles. Cette politique de confidentialité décrit les types d'informations que nous collectons, comment nous les utilisons, les partageons et les protégeons. En utilisant notre application web de réservation de coupes de coiffure à domicile, accessible via le domaine ubercut.fr, vous acceptez les pratiques décrites dans cette politique de confidentialité.
    </p>

    <h2>Informations Collectées</h2>
    <p>Informations Personnelles :</p>
    <ul>
        <li>Nom et Prénom : Pour l'identification et la personnalisation de nos services.</li>
        <li>Adresse Email : Pour la communication et l'envoi de confirmations de réservation.</li>
        <li>Numéro de Téléphone : Pour la coordination des rendez-vous et les notifications importantes.</li>
        <li>Adresse de Domicile : Pour permettre à nos coiffeurs de se rendre à votre domicile.</li>
        <li>Informations de Paiement : Pour traiter les transactions liées aux réservations.</li>
    </ul>

    <h2>Utilisation des Informations</h2>
    <p>Les informations personnelles collectées sont utilisées pour :</p>
    <ul>
        <li>Traiter et gérer vos réservations de coiffure.</li>
        <li>Communiquer avec vous concernant vos réservations, promotions et mises à jour de services.</li>
        <li>Améliorer nos services et l'expérience utilisateur sur notre application.</li>
    </ul>

    <h2>Partage des Informations</h2>
    <p>Vos informations personnelles ne seront jamais vendues ou partagées avec des tiers à des fins commerciales. Nous pouvons partager vos informations avec des tiers de confiance uniquement pour les raisons suivantes :</p>
    <ul>
        <li>Pour traiter vos paiements via des plateformes de paiement sécurisées.</li>
        <li>Pour respecter les obligations légales et réglementaires.</li>
    </ul>

    <h2>Stockage et Sécurité des Données</h2>
    <p>Toutes les informations des utilisateurs sont stockées dans une base de données sécurisée. Nous mettons en œuvre des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès, modification, divulgation ou destruction non autorisés.</p>

    <h2>Acceptation des Risques</h2>
    <p>En utilisant Uber Cut, vous reconnaissez et acceptez les risques associés à la réservation de coupes de coiffure réalisées par des coiffeurs qui peuvent être des novices. Uber Cut ne pourra être tenu responsable des éventuels dommages ou insatisfactions résultant des services de coiffure.</p>

    <h2>Vos Droits</h2>
    <p>Vous avez le droit d'accéder, de rectifier ou de supprimer vos informations personnelles à tout moment. Pour exercer ces droits, veuillez nous contacter à wassimbacha.pro@gmail.com</p>

    <h2>Modifications de la Politique de Confidentialité</h2>
    <p>Uber Cut se réserve le droit de modifier cette politique de confidentialité à tout moment. Nous vous informerons de toute modification importante via l'application ou par email.</p>

    <p class="contact">Pour toute question concernant cette politique de confidentialité, veuillez nous contacter à l'adresse suivante : wassimbacha.pro@gmail.com.</p>
</div>
{% endblock %}
