{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <h1>Uber Cut - Admin Dashboard</h1>
    <br>
    <div>
        <ul class="list-group">

            <li class="list-group-item"><a href="{{ path('app_main') }}"><i class="fa-solid fa-house"></i> Return to Uber Cut main page.</a></li>
        </ul>
    </div>
{% endblock %}